<h1 class="tituloPrincipal">Borrar Producto</h1>
<form id="formularioBorrarProd" class="cuerpo">
    <h3 class="renglonUno">ID</h3>
    <input class="propiedad" type="text" name="_id" required>
    <p id="pieBoton">
        <button class="botonRojo" type="submit">Borrar Producto</button>
    </p>
</form>