<h1 class="tituloPrincipal">Lo de <span class="carloh">Carloh</span></h1>
<div class="cuerpo">
    <h2>Bienvenido</h2>
    <a href="/products" class="boton">Tienda</a>
    <a href="/gestor" class="boton">Gestionar Productos</a>
</div>