<h1 class="tituloPrincipal">Menu Gestor de Productos</h1>
<div class="cuerpo">
    <a href="/gestor/crear-producto" class="boton">Crear Producto</a>
    <a href="/gestor/editar-producto" class="boton">Editar Producto</a>
    <a href="/gestor/borrar-producto" class="boton">Borrar Producto</a>
</div>